<h1>Shipping</h1>
<div class="row">
  <div class="col-6">
    <form #f='ngForm' (ngSubmit)="placeOrder()">
      <div class="form-group">
        <label >Name</label>
        <input #name="ngModel" required [(ngModel)]='shipping.name' type="text" name='name' class="form-control" id="inputEmail4" placeholder="Name">
      </div>
    <div class="form-group">
      <label for="inputAddress">Address</label>
      <input #address1="ngModel" required [(ngModel)]='shipping.address1' type="text" name='address1' class="form-control" id="inputAddress" placeholder="Locality">
    </div>
    <div class="form-group">
      <label for="inputAddress2">Address 2</label>
      <input #address2="ngModel" required [(ngModel)]='shipping.address2' type="text" name='address2' class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
    </div>
      <div class="form-group">
        <label for="inputCity">City</label>
        <input #city="ngModel" required [(ngModel)]='shipping.city' type="text" name='city' class="form-control" id="inputCity" placeholder="City">
      </div>
    <button [disabled]='!f.valid' type="submit" class="btn btn-primary">Place Order</button>
  </form>
  </div>
  <div class="col-6">
    <app-shopping-cart-summary></app-shopping-cart-summary>
  </div>
</div>
